language: c

perl:
  - "5.19"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.8"

install: 
  - sudo apt-get install autopoint libdbi-dev tcl-dev lua5.1 liblua5.1-0-dev 

before_script:
  - ./MakeMakefile

script:
  - ./configure --prefix=/opt/rrdtool-master
  - make
  - sudo make install
  - /opt/rrdtool-master/bin/rrdtool
  - /opt/rrdtool-master/share/rrdtool/examples/4charts.pl
  - ./test/alltests /opt/rrdtool-master/bin/rrdtool
