name: "Linux Build"
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install autopoint build-essential libdbi-dev libtool-bin tcl-dev lua5.1 liblua5.1-0-dev valgrind dc python3-pip python3-setuptools libpango1.0-dev ghostscript gettext
        sudo pip install cpp-coveralls

    - name: Build
      run: |
        V=$(cat VERSION)
        ./bootstrap
        ./configure --prefix=/opt/rrdtool-master
        make
        sudo make install
        /opt/rrdtool-master/bin/rrdtool
        /opt/rrdtool-master/share/rrdtool/examples/4charts.pl
    - name: Run Checks
      run: |
        make check
    - name: Test bindings
      run: |
        (cd bindings/perl-shared && make test)
        (cd bindings/python && sudo chown -R $USER . && python setup.py test)
    - name: Run "rrdcached-tcp"
      continue-on-error: true
      run: |
        make check TESTS_STYLE="rrdcached-tcp"
    - name: Upload rrdcached-tcp test-suite.log
      if: ${{ failure() }}
      uses: actions/upload-artifact@v6
      with:
        name: rrdcached-tcp_test-suite.log
        path: tests/test-suite.log
    - name: Run "rrdcached-udp"
      run: |
        make check TESTS_STYLE="rrdcached-unix"
    - name: Run valgrind
      run: |
        # make check TESTS_STYLE="valgrind-logfile"
        # Disable the following, failing tests: graph1, graph2, rpn1, create-with-source-4, vformatter1
        # These tests are failing in the GitHub Action (currently Ubuntu 24.04), when using valgrind-logfile
        make check TESTS_STYLE="valgrind-logfile" TESTS="modify1 modify2 modify3 modify4 modify5 tune1 tune2 rpn2 rrdcreate compat-cloexec dump-restore create-with-source-1 create-with-source-2 create-with-source-3 create-with-source-and-mapping-1 create-from-template-1 dcounter1 xport1 list1 pdp-calc1"
        podchecker doc/*.pod
    - name: Upload valgrind test-suite.log
      if: ${{ failure() }}
      uses: actions/upload-artifact@v6
      with:
        name: valgrind_test-suite.log
        path: tests/test-suite.log
    - name: Dist and Re-Build Test
      run: |
        V=$(cat VERSION)
        make dist
        tar xf rrdtool-$V.tar.gz
        cd rrdtool-$V
        ./configure
        make
        sudo make install
        cd /opt/rrdtool-$V
        bin/rrdtool
