---
name: Windows CI

# yamllint disable rule:line-length
# yamllint disable-line rule:truthy
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  msys2:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # https://github.com/actions/runner-images/blob/main/images/windows/Windows2022-Readme.md
        os: [windows-2022]
        carch: [x86_64]
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Disable git autocrlf
        run: git config --global core.autocrlf false
        shell: cmd
      - uses: actions/checkout@v6
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: base-devel bc groff mingw-w64-x86_64-autotools mingw-w64-x86_64-toolchain mingw-w64-x86_64-cairo mingw-w64-x86_64-expat mingw-w64-x86_64-freetype mingw-w64-x86_64-gettext mingw-w64-x86_64-glib2 mingw-w64-x86_64-libpng mingw-w64-x86_64-libxml2 mingw-w64-x86_64-pango mingw-w64-x86_64-zlib mingw-w64-x86_64-pkgconf
      - name: CI-Build
        run: |
          echo 'Running in MSYS2!'
          ./ci-build_MSYS2.sh
      # - uses: actions/upload-artifact@v6
      #   with:
      #     name: test-suite.log
      #     path: tests/test-suite.log
  MSVC:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # https://github.com/actions/runner-images/blob/main/images/windows/Windows2022-Readme.md
        os: [windows-2022]
        vcpkg_triplet: [x64-windows, x86-windows]
        include:
          - os: windows-2022
            vcpkg_triplet: x64-windows
            # https://github.com/microsoft/vcpkg/releases/tag/2025.12.12
            # https://github.com/microsoft/vcpkg/commit/84bab45d415d22042bd0b9081aea57f362da3f35
            vcpkgCommitId: '84bab45d415d22042bd0b9081aea57f362da3f35'
            vcpkgPackages: 'cairo expat fontconfig freetype gettext glib libpng libxml2 pango pcre zlib'
            configuration: 'x64'
            nmake_configuration: 'USE_64BIT=1'
          - os: windows-2022
            vcpkg_triplet: x86-windows
            vcpkgCommitId: '84bab45d415d22042bd0b9081aea57f362da3f35'
            vcpkgPackages: 'cairo expat fontconfig freetype gettext glib libpng libxml2 pango pcre zlib'
            configuration: 'x86'
            nmake_configuration: ''
    defaults:
      run:
        shell: cmd
    env:
      buildDir: '${{ github.workspace }}/build/'
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      # vcpkg-action
      # https://github.com/johnwason/vcpkg-action
      - name: vcpkg build
        uses: johnwason/vcpkg-action@v7
        id: vcpkg
        with:
          pkgs: '${{ matrix.vcpkgPackages }}'
          triplet: ${{ matrix.vcpkg_triplet }}
          cache-key: ${{ matrix.configuration }}
          revision: '${{ matrix.vcpkgCommitId}}'
          token: ${{ github.token }}

      - name: Build ${{ matrix.configuration }}
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" ${{ matrix.configuration }}
          nmake -f win32\Makefile_vcpkg.msc ${{ matrix.nmake_configuration }}
